<app-menu-back-header title="Planner"></app-menu-back-header>

<ion-content>
    <ion-item *ngIf="planItems.length == 0" lines="none">
        <ion-label>No activities planned</ion-label>
    </ion-item>
    <ion-reorder-group (ionItemReorder)="reorderList($event)" [disabled]="!editEnable">
        <ion-card *ngFor="let item of planItems; let i = index">
            <ion-item lines="none">
                <ion-label>
                    {{ item.name }}
                </ion-label>
                <ion-item lines="none" slot="end" *ngIf="editEnable">
                    <ion-icon name="create" (click)="openEditPage(item, i)"></ion-icon>
                    <ion-icon name="trash" (click)="deleteItem(i)"></ion-icon>
                </ion-item>
                <ion-reorder slot="end" no-margin></ion-reorder>
            </ion-item>
            <ion-card-content *ngIf="item.description">
                {{ item.description }}
            </ion-card-content>
        </ion-card>
    </ion-reorder-group>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="closeEdit($event)">
            <ion-icon [name]="editEnable ? 'close' : 'menu'"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="openEditPage()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="editEnable = true" *ngIf="planItems.length > 0">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
