<app-menu-close-header [title]="workout.name"></app-menu-close-header>

<ion-content>
    <ion-card *ngFor="let round of workout.rounds; let i = index">
        <ion-item>
            <ion-label>Round {{ i+1 }}</ion-label>
            <ion-badge slot="end">{{ round.set }}</ion-badge>
        </ion-item>
        <ion-item *ngFor="let exercise of round.exercises" lines="none">
            <ion-label>{{ exercise.name }}</ion-label>
            <ion-badge slot="end">{{ exercise.rep }}</ion-badge>
        </ion-item>
    </ion-card >
</ion-content>
