<app-menu-back-header title="Track Workout"></app-menu-back-header>

<ion-content>
    <ng-container *ngIf="workout === null; else rounds">
        <app-button-input name="Workout" (enter)="createWorkout($event)"></app-button-input>
    </ng-container>

    <ng-template #rounds>
        <ion-item text-center>
            <ion-label>{{ workout.name }}</ion-label>
        </ion-item>

        <ion-item *ngFor="let round of workout.rounds; let i = index">
            <ion-list style="width: 100%;">
                <ion-item lines="none">
                    <ion-label>Round {{ i+1 }}</ion-label>
                    <ion-chip slot="end"
                              label="Sets"
                              [appNumberInput]="round.set"
                              (numberChange)="round.set = $event">
                        {{ round.set }}
                    </ion-chip>
                </ion-item>
                <ion-item *ngFor="let exercise of round.exercises" lines="none">
                    <ion-label>{{ exercise.name }}</ion-label>
                    <ion-chip slot="end"
                              label="Reps"
                              [appNumberInput]="exercise.rep"
                              (numberChange)="exercise.rep = $event">
                        {{ exercise.rep }}
                    </ion-chip>
                </ion-item>
                <app-button-input name="Exercise" (enter)="createExercise($event, round)"></app-button-input>
            </ion-list>
        </ion-item>

        <ion-button fill="clear" expand="block" (click)="createRound()">Create Round</ion-button>
        <ion-button expand="block" color="light" (click)="finishWorkout()" margin>Finish Workout</ion-button>

    </ng-template>
</ion-content>
