<app-menu-back-header title="Food Search"></app-menu-back-header>

<ion-content>
    <ion-item>
        <ion-input placeholder="Search by Name"
                (keyup.enter)="searchFood($event.target.value)">
        </ion-input>
    </ion-item>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    <ion-list>
        <ion-item *ngFor="let food of foodList" (click)="getFood(food.fdcId)">
            <ion-label>{{ food.description }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
