<ion-button *ngIf="!showInput; else input"
            (click)="showInput = true"
            margin-vertical
            expand="block" fill="clear">
    Create {{ name }}
</ion-button>

<ng-template #input>
    <app-input (enter)="submit($event)"
               [placeholder]="name"
               (close)="showInput = false"
               style="width: 100%;"
    ></app-input>
</ng-template>

