<ion-card>
    <ion-item lines="none">
        <ion-input [type]="type"
                   [value]="value"
                   [placeholder]="placeholder"
                   [formControl]="control"
                   (keyup.enter)="emitValue()">
        </ion-input>
        <ion-button fill="none" slot="end" (click)="closeInput()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-item>
</ion-card>
