<ion-content>
    <ion-grid *ngIf="food !== undefined">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>
                        {{ food.description }}
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let nutrient of food.foodNutrients">

            <ion-col *ngIf="nutrient.amount === undefined; else details">
                <ion-item>
                    <ion-label>{{ nutrient.nutrient.name }}</ion-label>
                </ion-item>
            </ion-col>

            <ng-template #details>
                <ion-col>
                    {{ nutrient.nutrient.name }}
                </ion-col>
                <ion-col>
                    {{ nutrient.amount + nutrient.nutrient.unitName }}
                </ion-col>
            </ng-template>
        </ion-row>
    </ion-grid>
</ion-content>
