<ion-header>
    <ion-toolbar>
        <ion-title>Add Plan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" padding>
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>
        <ion-button type="submit" margin-top>Submit</ion-button>
    </form>
</ion-content>
