<app-menu-back-header title="Workout History"></app-menu-back-header>

<ion-content>
    <ion-item *ngIf="workoutHistory.length == 0" lines="none">
        <ion-label>You have no saved workouts</ion-label>
    </ion-item>
    <ng-container *ngIf="workoutHistory.length > 0">
        <ion-item *ngFor="let workout of workoutHistory" (click)="showWorkoutDetails(workout)" [button]="true">
            <ion-label>{{ workout.name }}</ion-label>
            <ion-note slot="end">{{ workout.finishDate | date:'EE dd.MM.yy' }}</ion-note>
        </ion-item>
    </ng-container>
</ion-content>
