<ion-item lines="none">
    <ion-label position="floating" *ngIf="label">{{ label }}</ion-label>
    <ion-input type="number"
               [value]="value"
               [placeholder]="placeholder"
               (keyup.enter)="emitValue($event.target.value)">
    </ion-input>
</ion-item>
