<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="nav.back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>
